@charset "UTF-8";




#modal_menubar {
    position: fixed;
    top: 0;
    left: 0;
    display:inline-block;
    z-index: 1;
}

#modalContent_menubar {
    background-color: #fff;
    width: 100px;
    height: 1200px;
    border-radius: 5px;
    display: block;
    
}

/* 본 페이지 스타일 */
.container {
    position: relative;
    
}

#main_content {
    padding: 20px;
}

/* 달력 컨테이너 스타일 */
.calendar-cal {
    
    left: 120px;
    position: absolute;
}

/* 달력 제목 스타일 */
.calendar h1 {
    display: inline-block;
}

/* 달력 네비게이션(버튼) 스타일 */
.nav-cal {
    display: inline-block;
}

/* 버튼 스타일 */
.nav button {
    margin: 5px;
}

.nav-button {
    width: 60px;
    height: 40px;
    border: 1px solid black;
    margin: 0 5px;
    padding: 5px;
}

/* 테이블 스타일 */
table {
    width: 96%;
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
thead {
    background-color: #f2f2f2;
}

/* 테이블 헤더 셀 스타일 */
th {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

/* 테이블 바디 셀 스타일 */
td {
    padding: 12px 2px;
    vertical-align: top;
    text-align: left;
    border: 2px solid #ddd;
    height: 120px;
    width: 150px;
    background-color: #ffffff;
}

/* 토요일 셀 스타일 */
td:nth-child(7) {
    color: blue;
}

/* 일요일 셀 스타일 */
td:nth-child(1) {
    color: red;
}