@charset "UTF-8";




/*프로필 css*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.menu-container .menu-column {
  position: absolute;
  /* 메뉴를 화면에 고정시킵니다. */
 
  /* 화면 상단에 위치하도록 설정합니다. */
  left: 0;
  
  /* 화면 왼쪽에 위치하도록 설정합니다. */
  width: 89px;
  /* 고정된 너비를 지정합니다. */
  height: 100vh;
  background: linear-gradient(#2e96ea, #30c8ca);

  .profile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &:after {
      content: '';
      display: block;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(245, 244, 120, 0.7);
    }
}

  .nav1 {
    list-style-type: none;
    margin: 0 0 100px;
    padding: 0;

    li {
      width: 100%;
      height: 6em;


      &:hover {
        background-color: #57a8ed;
        cursor: pointer;
      }
    }
  }

  .profile-img-page {
    margin-top: 20px;
    background-image: url("https://svgshare.com/i/eUF.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .board-page {

    background-image: url("https://svgshare.com/i/4uF.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .calendar-page {
    background-image: url("https://svgshare.com/i/4vc.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .shop-page {
    background-image: url("https://svgshare.com/i/162i.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
	
	.shopping-cart-page {
    background: url("https://svgshare.com/i/16GM.svg") no-repeat 0 0;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .settings-page {
    background-image: url("https://svgshare.com/i/4vd.svg");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 600px;
  margin: auto;
  justify-content: center;
  background-color: white;
  /* 배경을 흰색으로 설정 */
}