/*프로필 css*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;	
}

#modal_menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
}

.container {
  display: inline-flex;
  
  width: 100%;
  min-width: 600px;
  justify-content: center;
  position: relative;
}

.summary-column {
  position: absolute;
  left: 4.7%;
  width: 17%;
  height: 132%;
  min-width: 325px;
  max-width: 300px;
  background: linear-gradient(#3d6281, #42656f);
}

.profile-img {
  position: relative;
  height: 331px;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.profile-img .name {
  position: absolute;
  bottom: 25px;
  left: 1em;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.statistics {
  margin: 20px 6% 0 6%;
}

.statistics h2 {
  color: #a1afbc;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
}

.statistics .age,
.statistics .weight,
.statistics .bmi,
.statistics .fat {
  display: block;
  width: 50%;
  height: 100px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .age {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .title {
  color: white;
  letter-spacing: 2px;
  font-size: 1.5em;
  position: relative;
  margin-top: -13px;
  display: block;
  line-height: 100px;
}

.statistics .title:after {
  color: #90a0aa;
  font-size: 1em;
  letter-spacing: 0px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.statistics .title-weight:after {
  content: 'Weight';
}

.statistics .title-age:after {
  content: 'Age';
}

.statistics .title-bmi:after {
  content: 'BMI';
}



.statistics .height {
  height: 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .height .icon {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  background: url("https://svgshare.com/i/4xQ.svg");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.statistics .height .data {
  display: block;
  width: 50%;
  float: left;
}

.statistics .height .data span {
  display: block;
  position: relative;
  line-height: 130px;
  font-size: 1.75em;
  color: white;
}

.statistics .height .data span:after {
  content: 'Height';
  color: #90a0aa;
  font-size: 1em;
  line-height: 20px;
  letter-spacing: 0px;
  position: absolute;
  left: 0;
  bottom: 25px;
}

.float-none {
  clear: both;
}

#btnlogout {
  position: absolute;
  left: 170px;
  top: 280px;
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
}

#btnlogout.sub {
  background: #2e96ea;
}

#btnlogout.off {
  background: none;
  box-shadow: none;
  margin: 0;
}

#btnlogout.off.sub {
  color: #2e96ea;
}

#btnlogout:focus, #btnlogout:active, #btnlogout:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

#btnlogout:focus.sub, #btnlogout:active.sub, #btnlogout:hover.sub {
  background: #30c8ca;
}


.content-column {
	position: relative;
  background: white;
  right: 150px;
  width: 162%;
  height: 900px;
	.header-container {
    border: 5px solid red;
    background-image: url("");
		width: 100%;
		height: 311px;
		
	}
	.nav {
    
		width: 50%;
		float: left;
		font-size: 0.9em;
		font-weight: 500;
		line-height: 1;
		.content {
			margin: 50px 0 0 50px;
			white-space: nowrap;
		}
		p {
			text-transform: uppercase;
			color: #899191;
			letter-spacing: 1px;
		}
		.name {
			color: #636d6d;
		}
		.shape {
			font-family: 'Nunito', sans-serif;
			font-weight: 200;
			font-size: 6em;
			color: #8b9494;	
		}
		.score {	
			color: #34d0c4;
		}
	}
	.select-boxes {
    
		float: left;
		width: 50%;
		.content {
			margin: 40px;
			float: right;
		}
	}
  .split{
    border: 3px solid black;
    padding: 10px;
    height: 250px;
  }
	/* BMI 측정 */
.split-container {
  border: 5px solid green;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.split {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
  padding: 10px;
  box-sizing: border-box;
}

.left {
  border-right: 1px solid #dddfe1;
}

.split form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  display: flex;
  position: relative;
  left: 80px;
  top: 50px;
  align-items: center;
  margin-bottom: 15px;
}

.split form label {
  margin-right: 10px;
  width: 120px;
  text-align: left;
}

.split input[type="number"] {
  width: calc(80% - 120px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 24px;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

.split input[type="text"]:focus {
  border-color: #2e96ea;
}


#btnstyle {
	position: absolute;
  left: 430px;
  top: 165px;
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: 125px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
}

#btnstyle.sub {
  background: #2e96ea;
}

#btnstyle.off {
  background: none;
  box-shadow: none;
  margin: 0;
}

#btnstyle.off.sub {
  color: #2e96ea;
}

#btnstyle:focus, #btnstyle:active, #btnstyle:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

#btnstyle:focus.sub, #btnstyle:active.sub, #btnstyle:hover.sub {
  background: #30c8ca;
}

.meal-recommendation-content {
  display: none;
}

.meal-recommendation-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.toggle-button {
  background-color: #2e96ea;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.toggle-button:hover {
  background-color: #30c8ca;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h2 {
  margin: 10px 0;
}

	
	.bottom {
		border-bottom: none !important;
		border-top: 1px solid #dddfe1;
		h2 {
			margin: 35px 0;
			font-size: 0.9em;
			font-weight: 300;
		}
	}
	.appointments {
		margin: 0 20%;
		.calendar-container {
			height: 140px;
			padding-top: 24px;
			min-width: 185px;
		}
		.calendar {
			width: 92px;
			float: left;
			background: #f1f4f4;
			padding: 14px 0;
			.date {
				 font-size: 0.7em;
			}
			
		}
		.content {
			box-sizing: margin-box;
			width: 50%;
			float: left;
      
			
		}
	}
}
  .promotion {

    position: fixed;
    top: 25%;
    right: 0.5%;
    width: 14.4%;
    
    
    
    .split{
      border: 3px solid black;
      padding: 10px;
      height: 550px;
    }
  }