/*프로필 css*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;	
}

#modal_menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
}

.container {
  display: inline-flex;
  
  width: 100%;
  min-width: 600px;
  justify-content: center;
  position: relative;
}

.summary-column {
  position: absolute;
  left: 4.7%;
  width: 17%;
  height: 132%;
  min-width: 325px;
  max-width: 300px;
  background: linear-gradient(#3d6281, #42656f);
}

.profile-img {
  position: relative;
  height: 331px;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.profile-img .name {
  position: absolute;
  bottom: 25px;
  left: 1em;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.statistics {
  margin: 20px 6% 0 6%;
}

.statistics h2 {
  color: #a1afbc;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
}

.statistics .age,
.statistics .weight,
.statistics .bmi,
.statistics .fat {
  display: block;
  width: 50%;
  height: 100px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .age {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .title {
  color: white;
  letter-spacing: 2px;
  font-size: 1.5em;
  position: relative;
  margin-top: -13px;
  display: block;
  line-height: 100px;
}

.statistics .title:after {
  color: #90a0aa;
  font-size: 1em;
  letter-spacing: 0px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.statistics .title-weight:after {
  content: 'Weight';
}

.statistics .title-age:after {
  content: 'Age';
}

.statistics .title-bmi:after {
  content: 'BMI';
}



.statistics .height {
  height: 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistics .height .icon {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  background: url("https://svgshare.com/i/4xQ.svg");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.statistics .height .data {
  display: block;
  width: 50%;
  float: left;
}

.statistics .height .data span {
  display: block;
  position: relative;
  line-height: 130px;
  font-size: 1.75em;
  color: white;
}

.statistics .height .data span:after {
  content: 'Height';
  color: #90a0aa;
  font-size: 1em;
  line-height: 20px;
  letter-spacing: 0px;
  position: absolute;
  left: 0;
  bottom: 25px;
}

.float-none {
  clear: both;
}


.content-column {
	position: relative;
  background: white;
  right: 199px;
  width: 182%;
  height: 1000px;
	.header-container {
    border: 5px solid red;
    background-image: url("");
		width: 100%;
		height: 311px;
		
	}
	.nav {
    
		width: 50%;
		float: left;
		font-size: 0.9em;
		font-weight: 500;
		line-height: 1;
		.content {
			margin: 50px 0 0 50px;
			white-space: nowrap;
		}
		p {
			text-transform: uppercase;
			color: #899191;
			letter-spacing: 1px;
		}
		.name {
			color: #636d6d;
		}
		.shape {
			font-family: 'Nunito', sans-serif;
			font-weight: 200;
			font-size: 6em;
			color: #8b9494;	
		}
		.score {	
			color: #34d0c4;
		}
	}
	.select-boxes {
    
		float: left;
		width: 50%;
		.content {
			margin: 40px;
			float: right;
		}
	}
  .split{
    border: 3px solid black;
    padding: 10px;
    height: 250px;
  }
	.split-container {
    border: 5px solid red;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		width: 100%;
		margin: auto;
		justify-content: center;
		.split {
			position: relative;
			width: calc(100% / 2);
			
			text-align: center;
			font-size: 1.7em;
			font-weight: 300;
			border-right: 1px solid #dddfe1;
			border-bottom: 1px solid #dddfe1;
			.split-graph {
				max-width: 100%;
				height: 115px;
				overflow: hidden;
			}
			h3 {
				font-size: 1.1em;
				font-weight: 300;
				margin: 50px 0 0 0;
				color: #566161;
			}
			&:last-child {
				border-right: none;
			}
		}
		
		
			
		}
	}
	
	.bottom {
		border-bottom: none !important;
		border-top: 1px solid #dddfe1;
		h2 {
			margin: 35px 0;
			font-size: 0.9em;
			font-weight: 300;
		}
	}
	.appointments {
		margin: 0 20%;
		.calendar-container {
			height: 140px;
			padding-top: 24px;
			min-width: 185px;
		}
		.calendar {
			width: 92px;
			float: left;
			background: #f1f4f4;
			padding: 14px 0;
			.date {
				 font-size: 0.7em;
			}
			
		}
		.content {
			box-sizing: margin-box;
			width: 50%;
			float: left;
      
			
		}
	}
	
  .promotion {

    position: fixed;
    top: 25%;
    right: 0.5%;
    width: 14.4%;
    
    
    
    .split{
      border: 3px solid black;
      padding: 10px;
      height: 550px;
    }
  }